## mako
<%! from django.utils.translation import ugettext as _ %>
<%! from microsite_configuration.templatetags.microsite import platform_name %>
<%namespace name='static' file='static_content.html'/>

<footer>
  <div class="footer-container">
    <ul class="links">
      <li><a href="http://www.senecacollege.ca/" target="_blank">Seneca Home Page</a></li>  
      <li><a href="http://www.senecacollege.ca/campuses/" target="_blank">Maps &amp; Directions</a></li>
      <li><a href="http://www.senecacollege.ca/search" target="_blank">Search Seneca</a></li>    
      <li><a href="http://www.senecacollege.ca/privacy/" target="_blank">Terms of Use</a></li>    
      <li><a href="http://www.senecac.on.ca/students/ombudsperson/" target="_blank">Copyright Complaints</a></li>
    </ul>
    <ul class="links">
      %if settings.MKTG_URL_LINK_MAP.get('ABOUT'):
      <li>
        <a id="about" href="${marketing_link('ABOUT')}">${_("About")}</a>
      </li>
      %endif
      %if settings.MKTG_URL_LINK_MAP.get('FAQ'):
      <li>
        <a id="faq" href="${marketing_link('FAQ')}">${_("FAQ")}</a>
      </li>
      %endif
      %if settings.MKTG_URL_LINK_MAP.get('CONTACT'):
      <li>
        <a id="contact" href="${marketing_link('CONTACT')}">${_("Contact")}</a>
      </li>
      %endif
      %if settings.MKTG_URL_LINK_MAP.get('TOS'):
      <li>
        <a href="${marketing_link('TOS')}">${_("Terms of Service")}</a>
      </li>
      %endif
      %if settings.MKTG_URL_LINK_MAP.get('HONOR'):
      <li>
        <a href="${marketing_link('HONOR')}">${_("Honor Code")}</a>
      </li>
      %endif
      %if settings.MKTG_URL_LINK_MAP.get('PRIVACY'):
      <li>
        <a href="${marketing_link('PRIVACY')}">${_("Privacy Policy")}</a>
      </li>
      %endif
    </ul>
    <p class="copyright">${_(u"© 2015 {platform_name}, some rights reserved.").format(platform_name=platform_name())}</p>
    <div class="by-ionisx">
      <a href="https://ionisx.com">
        <img src="${static.url('themes/{theme_name}/images/logo-x-white.png'.format(theme_name=settings.THEME_NAME))}" alt="Theme by IONISx">
      </a>
    </div>
  </div>
</footer>

<script>
    $(document).ready(function () {

var pathNameData = $(location).attr('href');

	$("body footer .by-ionisx img").attr("src","https://online.cdot.senecacollege.ca/static/themes/ionisx/images/SOL1.f31286441d3b.png");
	$(".content-wrapper>.home>header .outer-wrapper .title hgroup h1").html("The Future of Online Education");
	$(".content-wrapper>.home>header .outer-wrapper .title hgroup h2").html("For anyone, anywhere, anytime");
	//  	$( "body .content-wrapper" ).append( "<section id='video-modal' class='modal home-page-video-modal video-modal'><div class='inner-wrapper'><iframe width='640' height='360' src='//www.youtube.com/embed/XNaiOGxWeto?showinfo=0?autoplay=1' frameborder='0' allowfullscreen></iframe></div></section>" );
	//$( ".content-wrapper>.home>header .outer-wrapper" ).append( "<a href='#video-modal' class='media' rel='leanModal'><div class='hero'><div class='play-intro'></div></div></a>" );

        if($.trim(pathNameData) == "https://online-dev.cdot.senecacollege.ca/"){
          $("body header.global>nav h1.logo a").css("width","420px");
          $("body header.global>nav h1.logo a").css("height", "150px");
          $("body header.global>nav h1.logo a").css("background-image", "url('https://online-dev.cdot.senecacollege.ca/static/themes/ionisx/images/PaladinParadigm-logo-large.png')");
          $("body header.global").css("background-color", "#6B869E");
          $("body header.global>nav .nav-courseware").css("padding-top", "50px");
        }

$(window).resize(function() {


        if($(window).width() < 768){
        $("body header.global>nav h1.logo a").css("width","420px");
        $("body header.global>nav h1.logo a").css("height", "150px");

        $("body header.global>nav h1.logo a").css("background-image", "url('https://online-dev.cdot.senecacollege.ca/static/themes/ionisx/images/PaladinParadigm-logo-small3-150x150.png')");  //#1

        $("body header.global").css("background-color", "#6B869E");
        $("body header.global>nav .nav-courseware").css("padding-top", "50px");
        }

        if($(window).width() >= 768){
        $("body header.global>nav h1.logo a").css("width","420px");
        $("body header.global>nav h1.logo a").css("height", "150px");

        $("body header.global>nav h1.logo a").css("background-image", "url('https://online-dev.cdot.senecacollege.ca/static/themes/ionisx/images/PaladinParadigm-logo-large.png')"); //#1

        $("body header.global").css("background-color", "#6B869E");
        $("body header.global>nav .nav-courseware").css("padding-top", "50px");
        }

        });

    $(window).trigger('resize');

});

//    $("body").append("---------------<br />pathname: " + $(location).attr('href') + "<br />---------------");
</script>

<script>
    $(document).ready(function(){
    });
</script>
