<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Honor Code")}</%block>

<section class="static-container honor">
<h1>${_("Honor Code")}</h1>

<h2><em>WHAT TO KNOW!</em></h2>
  
  <hr />
  
  <h1 id="tos" style="text-align: left;">Seneca's Online Learning Platform</h1>
  
  <p>Seneca College offers a fully detailed index of its Academic Policy for the current year at: <a href="http://www.senecacollege.ca/academic-policy/" target="_blank">Read More</a></p>

  <p><strong>Last updated: August 21, 2014</strong></p>

</section>
