<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

<section class="static-container tos">
<h1>${_("Terms of Service")}</h1>

<h2><em>SOON TO BE ANNOUNCED!</em></h2>
  
  <hr />
  
  <h1 id="tos" style="text-align: left;">Welcome to Seneca's Online Learning Platform</h1>
  
  <p>Keep checking back as we update this page with our Terms of Service</p>

  <p><strong>Last updated: August 21, 2014</strong></p>

</section>
