<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("FAQ")}</%block>

<section class="static-container faq">
<h1>${_("FAQ")}</h1>

<h2><em>MORE TO COME!</em></h2>
  
  <hr />
  
  <h1 id="tos" style="text-align: left;">What to do.</h1>
  
  <p>Meanwhile contact your course professor.</p>

  <ol>
  <li>Current Professors:
    <ul>
      <li><a href="http://cs.senecac.on.ca/~jordan.anastasiade">Visit Jordan Anastasiade</a> OR <a href="mailto:Jordan.Anastasiade@senecacollege.ca">send an email</a></li>
    </ul>
  </li>
  </ol>

  <p><strong>Last updated: August 21, 2014</strong></p>

</section>
